<%= form_for(@clients_company) do |f| %>
  <% if @clients_company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clients_company.errors.count, "error") %> prohibited this clients_company from being saved:</h2>

      <ul>
      <% @clients_company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :client_id %><br />
    <%= f.number_field :client_id %>
  </div>
  <div class="field">
    <%= f.label :company_id %><br />
    <%= f.number_field :company_id %>
  </div>
  <div class="field">
    <%= f.label :weight %><br />
    <%= f.number_field :weight %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
