#encoding: utf-8

<%= semantic_nested_form_for [:admin, @company] do |f|%>

    <div>
      <%=f.inputs "Info de Usuario" , :for => [:user, f.object.user || User.new] do |h|%>
          <%=h.input :email %>
          <%=h.input :password %>
          <%=h.input :password_confirmation %>
          <%=h.hidden_field :user_role_id, :label => "Role", :value => UserRole.where("name = ?", "CompanyUser" ).first() %>
      <% end %>
    </div>

    <div>
    <%=f.inputs "Info de Empresa" do%>
        <%= f.input :name %>
        <%= f.input :cuit %>
    <%end%>
    </div>

    <%= f.actions do %>
        <%= f.action :submit %>
        <li class="cancel">
          <%=link_to "Cancelar", admin_companies_path%>
        </li>
    <% end %>


<% end%>


