<div class="container" id="main-content">
  <div class="row">
    <section class="span8 rounded-borders light-shadowed" style="background: #ffffff;">


      <header class="out rounded-borders-top">
        <h2>Suscripción al Newsletter</h2>

      </header>

      <%= semantic_nested_form_for current_user, :url => users_newsletter_freq_path, :html => {:method => :post} do |f|%>

          <div class="wrapper">
            <article class="row">
              <div class="span8">
                <div class="wrapper-padding">

                  <%=f.inputs :for => [:client, f.object.client] do |h|%>


                      <div class="control-group clearfix">
                        <h3>Elegí a continuación,</h3>
                        <h5>¿Con qué frecuencia semanal querés recibir la info de las nuevas ofertas?</h5>
                        <ul>

                          <%= h.input :newsletter_frequency, :as => :radio, :label => false %>

                        </ul>
                      </div>



                  <% end %>

                </div><!--end wrapper-padding-->
              </div><!--end span4-->

      </article>

      <% if !session[:flash].nil? %>
          <% if !session[:flash][:notice].nil? %>
              <div class="alert" id="login-alert">
                <%= session[:flash][:notice] %>
              </div>
          <% end %>
            <% end %>
      <% end %>

      <div class="wrapper-padding">
        <hr>
        <div class="text-center">
          <button type="submit" class="btn btn-dealhunter rounded-borders-btn">Grabar Información</button>
        </div>
      </div><!--end wrapper-padding-->
      </div><!--end wrapper-->


    </section>
    <!--end main content-->


    <!--sidebar-->
    <aside class="span4" style="background: none;">

      <div class="wrapper-padding rounded-borders light-shadowed" style="background: #ffffff;">

        <h2 class="rounded-borders-btn">Detalle de Cuenta</h2>
        <ul class="aside-nav">
          <li><a href="<%= users_offers_client_user_path %>">Mis Ofertas</a></li>
          <li><a href="<%= users_titles_user_path %>">Mis Intereses</a></li>

        </ul>
        <h2 class="rounded-borders-btn">Información Personal</h2>
        <ul class="aside-nav">
          <li><a href="<%= edit_user_path(current_user)%>" >Mi Perfil</a></li>
          <li><a href="<%= users_statistics_path %>">Mis Estadísticas</a></li>
        </ul>
        <h2 class="rounded-borders-btn">Preferencias</h2>
        <ul class="aside-nav">
          <li><a href="<%= edit_user_registration_path %>">Contraseña</a></li>        </ul>
        <ul class="aside-nav" >
          <li><a href="<%= users_newsletter_freq_path %>" class="active">Frecuencia del newsletter</a></li>        </ul>
        </ul>
      </div>

    </aside><!--end sidebar-->
  </div><!--end container-->
</div><!--end row-->