<% if current_user.nil? %>

    <body id="page-micuenta">

    <!--header-->
    <header id="top" class="light-shadowed">
      <div class="container">
        <div class="row">
          <div class="span3" id="logo-header"><a href="/offers"><img src="/assets/logo-header.png"></a></div>

        </div>
        <!--end row-->
      </div>
      <!--end container header-->
    </header>
    <!--end header-->


    <div class="container" id="main-content">
      <div class="rounded-borders ">
        <section class="span11 rounded-borders light-shadowed">
          <header class="out rounded-borders-top">
          <h2>Preguntas Frecuentes</h2>
          </header>

          <div class="wrapper-padding">

            <div class="wrapper">
              <article>

                <div class="accordion">
                  <ul class="accord-tab clearfix">
                    <li>
                      <h3>¿Cómo puedo hacerme miembre de dealhunter Argentina?</h3>
                    </li>
                    <li>
                  <span>

                </span>
                    </li>
                  </ul>
                  <div class="accord_cont">
                    <p>Existen dos maneras de acceder a una membresía:</p>
                    <ol>
                      <li>
                        <p>Si queres promocionar tus productos con nosotros, contacta a los representantes de
                          Dealhunter, para tramitar tu membresía con ellos.</p>
                      </li>
                      <li>
                        <p>Si queres recibir promociones a traves de nuestro sitio, crea un usuario desde nuestra pagina
                          de registro, y accedes instantaneamente a las mismas. </p>
                      </li>
                    </ol>
                  </div>

                  <ul class="accord-tab clearfix">
                    <li><h3>¿Qué ofrecemos a nuestros miembros?</h3></li>
                    <li><span></span></li>
                  </ul>
                  <div class="accord_cont">
                    <p>Podes acceder a promociones, descuentos, y beneficios exclusivos para nuestros clientes, sin
                      ningun gasto por membresia! </p>

                    <p>Divertite recibiendo informacion de empresas de primer nivel, obteniendo sus promociones de un
                      modo comodo.</p>

                    <p>Si tenes una empresa, lo que te ofrecemos es un servicio de llegada al cliente, divirtiendolo
                      mientras conoce tus productos</p>
                  </div>


                  <ul class="accord-tab clearfix">
                    <li><h3>Deseo modificar mis datos personales (email, contraseña, etc.)</h3></li>
                    <li><span></span></li>
                  </ul>
                  <div class="accord_cont">
                    <p>Para esto, dirigite al apartado “Mi cuenta“ y seguidamente podes modificar todos tus datos
                      personales de un modo sencillo, intuitivo y comodo. </p>
                  </div>

                  <ul class="accord-tab clearfix">
                    <li><h3>¿Cuál es el proceso de una oferta?</h3></li>
                    <li><span></span></li>
                  </ul>
                  <div class="accord_cont">
                    <p>Lo primero que tenes que hacer, es seleccionar tus intereses para que el sistema decida que ofertas
                    son las mas interesantes para vos.</p>
                    <p>Una vez que realizaste ese proceso, deberas inscribirte a las ofertas que te interesen y aguardar a que
                      la misma comienze.</p>
                    <p>Al momento en que la oferta se de por iniciada, recibiras un aviso del sitio, para que puedas ir disfrutar
                      de la misma en la sucursal indicada.</p>
                  </div>


                  <ul class="accord-tab clearfix">
                    <li><h3>¿Es necesario comprar en dealhunter Argentina?</h3></li>
                    <li><span></span></li>
                  </ul>
                  <div class="accord_cont">
                    <p>Lo que buscamos en Dealhunter no es que compres, sino que ahorres y recibas beneficios, en ningún
                      momento se te pedirá que ingreses dinero en el sitio.</p>
                  </div>


                  <ul class="accord-tab clearfix">
                    <li><h3>¿Cuándo voy a recibir la confirmación de las ofertas a las que me inscribo? </h3></li>
                    <li><span></span></li>
                  </ul>
                  <div class="accord_cont">
                    <p>Cuando te inscribis a una oferta, automaticamente recibirás un email y una notificacion de exito,
                      y luego deberas esperar a que la misma inicie para participar</p>
                  </div>


                  <ul class="accord-tab clearfix">
                    <li><h3>Deseo desinscribirme de una oferta </h3></li>
                    <li><span></span></li>
                  </ul>
                  <div class="accord_cont">
                    <p>Una vez que te inscribiste a una oferta, podes verla en el perfil de usuario, y desde ahi,
                      desinscribirte si asi lo deseas.</p>
                  </div>


                  <ul class="accord-tab clearfix">
                    <li><h3>Deseo realizar un reclamo ¿Cómo hago? </h3></li>
                    <li><span></span></li>
                  </ul>
                  <div class="accord_cont">
                    <p>Le comunicamos que si deseas enviarnos un reclamo, deberás comunicarte al 0 800 345 deal o via
                      e-mail a reclamos@dealhunter.com.ar </p>

                    <p> Nuestro departamento de atención al cliente se pondrá en contacto contigo en el menor tiempo
                      posible.</p>
                  </div>


                </div>
                <!--end accordion-->

              </article>

            </div>
            <!--end wrapper-->
          </div>
        </section>
        <!--end main content-->
      </div>
      <!--end container-->
    </div>
    <!--end row-->


    <!--footer-->
    <footer id="footer-wrapper" class="dh-footer">
      <div class="container">


        <hr>

        <div id="footer-middle" class="row">
          <div class="span7">
            <nav>
              <ul class="inline">
                <li><a href="<%= pages_we_path %>">Quiénes Somos</a></li>
                <li><a href="<%= pages_work_with_us_path %>">Trabajá con Nosotros</a></li>
                <li><a href="<%= pages_form_company_path %>">Queres publicar?</a></li>
                <li><a href="<%= pages_faqs_path %>">Ayuda</a></li>
                <li><a href="<%= pages_form_contact_path%>">Contacto</a></li>
              </ul>
            </nav>
            <p class="copyright">Copyright © 2013 DealHunter.com. Todos los derechos reservados</p>
          </div>
          <div class="span3">
            <ul id="custumer-support" class="pull-right">
              <li class="custumer-support-title">Atención al Cliente</li>
              <li class="telephone-number">0800-111-DEAL(3315)</li>
              <li class="contact-mail"><a href="#"><i class="icon-contact-mail"></i> info@dealhunter.com</a></li>
            </ul>
          </div>

          <div class="span2">
            <ul class="inline pull-right social">
              <li><a href="#" target="_blank"><img src="/assets/icon-fb.png"></a></li>
              <li><a href="https://twitter.com/dealhunterArg" target="_blank"><img src="/assets/icon-twitter.png"></a>
              </li>
              <li><a href="#" target="_blank"><img src="/assets/icon-gPlus.png"></a></li>

            </ul>
          </div>
        </div>

      </div>
    </footer>

    </body>

<% else %>


    <div class="container" id="main-content">
      <div class="rounded-borders ">
        <section class="span11 rounded-borders light-shadowed">
          <header class="out rounded-borders-top">
            <h2>Preguntas Frecuentes</h2>
          </header>

          <div class="wrapper-padding">

            <div class="wrapper">
              <article>

                <div class="accordion">
                  <ul class="accord-tab clearfix">
                    <li>
                      <h3>¿Cómo puedo hacerme miembro de dealhunter Argentina?</h3>
                    </li>
                    <li>
                  <span>

                </span>
                    </li>
                  </ul>
                  <div class="accord_cont">
                    <p>Existen dos maneras de acceder a una membresía:</p>
                    <ol>
                      <li>
                        <p>Si queres promocionar tus productos con nosotros, contacta a los representantes de
                          Dealhunter, para tramitar tu membresía con ellos.</p>
                      </li>
                      <li>
                        <p>Si queres recibir promociones a traves de nuestro sitio, crea un usuario desde nuestra pagina
                          de registro, y accedes instantaneamente a las mismas. </p>
                      </li>
                    </ol>
                  </div>

                  <ul class="accord-tab clearfix">
                    <li><h3>¿Qué ofrecemos a nuestros miembros?</h3></li>
                    <li><span></span></li>
                  </ul>
                  <div class="accord_cont">
                    <p>Podes acceder a promociones, descuentos, y beneficios exclusivos para nuestros clientes, sin
                      ningun gasto por membresia! </p>

                    <p>Divertite recibiendo informacion de empresas de primer nivel, obteniendo sus promociones de un
                      modo comodo.</p>

                    <p>Si tenes una empresa, lo que te ofrecemos es un servicio de llegada al cliente, divirtiendolo
                      mientras conoce tus productos</p>
                  </div>


                  <ul class="accord-tab clearfix">
                    <li><h3>Deseo modificar mis datos personales (email, contraseña, etc.)</h3></li>
                    <li><span></span></li>
                  </ul>
                  <div class="accord_cont">
                    <p>Para esto, dirigite al apartado “Mi cuenta“ y seguidamente podes modificar todos tus datos
                      personales de un modo sencillo, intuitivo y comodo. </p>
                  </div>

                  <ul class="accord-tab clearfix">
                    <li><h3>¿Cuál es el proceso de una oferta?</h3></li>
                    <li><span></span></li>
                  </ul>
                  <div class="accord_cont">
                    <p>Lo primero que tenes que hacer, es seleccionar tus intereses para que el sistema decida que ofertas
                      son las mas interesantes para vos.</p>
                    <p>Una vez que realizaste ese proceso, deberas inscribirte a las ofertas que te interesen y aguardar a que
                      la misma comienze.</p>
                    <p>Al momento en que la oferta se de por iniciada, recibiras un aviso del sitio, para que puedas ir disfrutar
                      de la misma en la sucursal indicada.</p>
                  </div>


                  <ul class="accord-tab clearfix">
                    <li><h3>¿Es necesario comprar en dealhunter Argentina?</h3></li>
                    <li><span></span></li>
                  </ul>
                  <div class="accord_cont">
                    <p>Lo que buscamos en Dealhunter no es que compres, sino que ahorres y recibas beneficios, en ningún
                      momento se te pedirá que ingreses dinero en el sitio.</p>
                  </div>


                  <ul class="accord-tab clearfix">
                    <li><h3>¿Cuándo voy a recibir la confirmación de las ofertas a las que me inscribo? </h3></li>
                    <li><span></span></li>
                  </ul>
                  <div class="accord_cont">
                    <p>Cuando te inscribis a una oferta, automaticamente recibirás un email y una notificacion de exito,
                      y luego deberas esperar a que la misma inicie para participar</p>
                  </div>


                  <ul class="accord-tab clearfix">
                    <li><h3>Deseo desinscribirme de una oferta </h3></li>
                    <li><span></span></li>
                  </ul>
                  <div class="accord_cont">
                    <p>Una vez que te inscribiste a una oferta, podes verla en el perfil de usuario, y desde ahi,
                      desinscribirte si asi lo deseas.</p>
                  </div>


                  <ul class="accord-tab clearfix">
                    <li><h3>Deseo realizar un reclamo ¿Cómo hago? </h3></li>
                    <li><span></span></li>
                  </ul>
                  <div class="accord_cont">
                    <p>Le comunicamos que si deseas enviarnos un reclamo, deberás comunicarte al 0 800 345 deal o via
                      e-mail a reclamos@dealhunter.com.ar </p>

                    <p> Nuestro departamento de atención al cliente se pondrá en contacto contigo en el menor tiempo
                      posible.</p>
                  </div>


                </div>
                <!--end accordion-->

              </article>

            </div>
            <!--end wrapper-->
          </div>
          <!--end wrapper-->
      </section>
      <!--end main content-->
    </div><!--end container-->
    </div><!--end row-->

<% end %>



<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="../assets/faqs.js"></script>

<script type="text/javascript">
    function removeId(){
        $("#landing").attr("id", "page-faq");
    }
    removeId();

</script>
