<% if current_user.nil? %>

    <body id="page-micuenta">

    <!--header-->
    <header id="top" class="light-shadowed">
      <div class="container">
        <div class="row">
          <div class="span3" id="logo-header"><a href="/offers"><img src="/assets/logo-header.png"></a></div>

        </div>
        <!--end row-->
      </div>
      <!--end container header-->
    </header>
    <!--end header-->


    <div class="container" id="main-content">
      <div class="rounded-borders ">
        <section class="span13 rounded-borders light-shadowed">
          <header class="out rounded-borders-top">
            <h2>Contactanos</h2>
          </header>

          <div class="wrapper-padding">

            <div class="wrapper">
              <article class="row-fluid">
                <div class="span8">

                  <% if !alert.nil?%>
                      <div class="alert">
                        <%= alert %>
                      </div>
                  <%end%>


                  <%= form_for(Message.new(), :url => {:action => "contact", :controller => :pages}, :html => {:method => :post}) do |f| %>
                      <fieldset>
                        <p>Por favor, ponete en contacto con nosotros mediante el formulario.</p>
                        <hr>
                        <div class="row-fluid">
                          <div class="span6">
                            <label>Nombre</label>
                            <%= f.text_field :name, :label => false, :class => "input-xlarge", :style => "margin-right:10px;" %>

                            <label>Email</label>
                            <%= f.text_field :email, :label => false, :class => "input-xlarge", :style => "margin-right:10px;" %>
                          </div>
                          <div class="span6" style="margin-top: 66.5px">
                            <label>Asunto</label>
                            <%= f.text_field :subject, :label => false, :class => "input-xlarge", :style => "margin-right:10px;" %>
                          </div>
                        </div>

                        <label>Comentarios</label>
                        <%= f.text_area :body, :label => false, :rows => "3", :style => "width:97%;" %>

                        <hr>
                        <div class="text-center">
                          <button type="submit" class="btn btn-dealhunter rounded-borders-btn">Enviar</button>
                        </div>
                      </fieldset>
                  <% end %>
                </div>
                <!--end span8-->
                <div class="span3 offset1">
                  <address>
                    <strong>Dirección</strong><br>
                    Pte. Perón 1500<br>
                    Pilar, Pcia. de Buenos Aires, CP 1664<br>
                    <abbr title="Phone"></abbr>
                  </address>

                  <address>
                    <strong>Email</strong><br>
                    <a href="mailto:info@dealhunter.com">info@dealhunter.com</a>
                  </address>

                  <address>
                    <strong>Teléfono</strong><br>

                    <p>0800-111-DEAL(3315)</p>
                  </address>

                  <address>
                    <strong>Twitter</strong><br>

                    <p>Para obtener respuestas en tiempo real a todas tus preguntas agreganos en twitter
                      <a href="https://twitter.com/dealhunterArg" target="_blank">@dealhunterArg</a></p>
                  </address>

                </div>
                <!--end span4-->

              </article>

            </div>
            <!--end wrapper-->
          </div>
          <!--end wrapper-padding-->
        </section>
        <!--end main content-->
      </div>
      <!--end container-->
    </div>
    <!--end row-->

    <footer id="footer-wrapper" class="dh-footer">
      <div class="container">


        <hr>

        <div id="footer-middle" class="row">
          <div class="span7">
            <nav>
              <ul class="inline">
                <li><a href="<%= pages_we_path %>">Quiénes Somos</a></li>
                <li><a href="<%= pages_work_with_us_path %>">Trabajá con Nosotros</a></li>
                <li><a href="<%= pages_form_company_path %>">Queres publicar?</a></li>
                <li><a href="<%= pages_faqs_path %>">Ayuda</a></li>
                <li><a href="<%= pages_form_contact_path%>">Contacto</a></li>
              </ul>
            </nav>
            <p class="copyright">Copyright © 2013 DealHunter.com. Todos los derechos reservados</p>
          </div>
          <div class="span3">
            <ul id="custumer-support" class="pull-right">
              <li class="custumer-support-title">Atención al Cliente</li>
              <li class="telephone-number">0800-111-DEAL(3315)</li>
              <li class="contact-mail"><a href="#"><i class="icon-contact-mail"></i> info@dealhunter.com</a></li>
            </ul>
          </div>

          <div class="span2">
            <ul class="inline pull-right social">
              <li><a href="#" target="_blank"><img src="/assets/icon-fb.png"></a></li>
              <li><a href="https://twitter.com/dealhunterArg" target="_blank"><img src="/assets/icon-twitter.png"></a>
              </li>
              <li><a href="#" target="_blank"><img src="/assets/icon-gPlus.png"></a></li>

            </ul>
          </div>
        </div>

      </div>
    </footer>
    </body>


<% else %>


    <div class="container" id="main-content">
      <div class="rounded-borders ">
        <section class="span13 rounded-borders light-shadowed">
          <header class="out rounded-borders-top">
            <h2>Contactanos</h2>
          </header>

          <div class="wrapper-padding">

            <div class="wrapper">
              <article class="row-fluid">
                <div class="span8">

                  <% if !alert.nil?%>
                      <div class="alert">
                        <%= alert %>
                      </div>
                  <%end%>


                  <%= form_for(Message.new(), :url => {:action => "contact", :controller => :pages}, :html => {:method => :post}) do |f| %>
                      <fieldset>
                        <p>Por favor, ponete en contacto con nosotros mediante el formulario.</p>
                        <hr>
                        <div class="row-fluid">
                          <div class="span6">
                            <label>Asunto</label>
                            <%= f.text_field :subject, :label => false, :class => "input-xlarge", :style => "margin-right:10px;" %>
                          </div>
                        </div>

                        <label>Comentarios</label>
                        <%= f.text_area :body, :label => false, :rows => "3", :style => "width:97%;" %>

                        <hr>
                        <div class="text-center">
                          <button type="submit" class="btn btn-dealhunter rounded-borders-btn">Enviar</button>
                        </div>
                      </fieldset>
                  <% end %>
                </div>
                <!--end span8-->
                <div class="span3 offset1">
                  <address>
                    <strong>Dirección</strong><br>
                    Pte. Perón 1500<br>
                    Pilar, Pcia. de Buenos Aires, CP 1664<br>
                    <abbr title="Phone"></abbr>
                  </address>

                  <address>
                    <strong>Email</strong><br>
                    <a href="mailto:info@dealhunter">info@dealhunter.com</a>
                  </address>

                  <address>
                    <strong>Teléfono</strong><br>

                    <p>0800-111-DEAL(3315)</p>
                  </address>

                  <address>
                    <strong>Twitter</strong><br>

                    <p>Para obtener respuestas en tiempo real a todas tus preguntas agreganos en twitter
                      <a href="http://www.twitter.com/dealhunterarg">@dealhunterArg</a></p>
                  </address>

                </div>
                <!--end span4-->

              </article>

            </div>
            <!--end wrapper-->
          </div>
          <!--end wrapper-padding-->
        </section>
        <!--end main content-->
      </div>
      <!--end container-->
    </div><!--end row-->

<% end %>

<script type="text/javascript">
    function removeId(){
        $("#landing").attr("id", "page-faq");
    }
    removeId();

</script>






